<div id="<%= dom_id bus %>">
  <p>
    <strong>Name:</strong>
    <%= bus.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= bus.model %>
  </p>

  <p>
    <strong>Boarding:</strong>
    <%= bus.boarding %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= bus.destination %>
  </p>

  <p>
    <strong>No of seats:</strong>
    <%= bus.no_of_seats %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= bus.time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= bus.date %>
  </p>

  <p>
    <strong>Agence:</strong>
    <%= bus.agence_id %>
  </p>

</div>
