
<ul class="nav nav-tabs" id="myTab" role="tablist">
   <%= link_to 'Booking', root_path, class: 'navbar-brand' %>

   <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %></li>
      </li>
         <li class="nav-item">
        <%= link_to 'edit', edit_user_registration_path, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
      <li class="nav-item">
        <%= link_to 'sign up', new_user_registration_path, class: "nav-link" %>
      </li>
</ul>
